/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.03.2017, 10:47:40
    Author     : Dave
*/


.table-view .column-header, .table-view .filler {
    -fx-text-alignment: center;
}
/*
Колонка таблицы
*/
.table-column{
    -fx-alignment: center;
}
/*
 //Style of each table cell
*/
.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:25px;           
    /* -fx-text-fill:orange; */

}
